<header class="header-main">
  <div class="container">
    <div class="header-nav">
      <div class="filters">
        <p class="status-title">
          Search chars by name: <span class="search-result"></span>
        </p>
        <form class="form-inline search-form js-search-form">
          <input
            type="text"
            class="search-field"
            autocomplete="off"
            name="query"
            placeholder="Type name here"
          />
          <button type="submit" class="search-btn">Go!</button>
        </form>
        <div class="status">
          <p class="status-title">Filter chars by status:</p>
          <div class="status-filter" id="filter">
            <a href="" class="status-btn" data-status="alive">Alive</a>
            <a href="" class="status-btn" data-status="unknown">Unknown</a>
            <a href="" class="status-btn" data-status="dead">Dead</a>
            <a href="" class="status-btn" data-status="">All</a>
          </div>
        </div>
        <div class="reset">
          <a href="" class="reset-btn">Clear all filters</a>
        </div>
      </div>
      <h1 class="header-nav__title">Rick and Morty Characters</h1>
    </div>
  </div>
</header>
