.header-main {
  background-image: url(./images/header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-left: 100px;

  height: 200px;
}

.header-nav__title {
  margin: 0;

  color: white;
}

.filters {
  margin-right: 130px;
}

.status {
  margin-bottom: 16px;
}

.status-title {
  color: white;
}

.status-filter {
  display: flex;
  justify-content: space-between;
}

.status-btn {
  display: block;
  padding: 3px 7px;

  font-size: 12px;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  border: 3px solid white;
  border-radius: 5px;
}

.status-btn-active {
  background-color: white;
  color: darkblue;

  font-weight: 700;
}

.reset-btn {
  display: block;
  padding: 3px 7px;

  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  border: 3px solid white;
  border-radius: 5px;
}

.search-form {
  display: flex;
}

.search-btn {
  display: block;
  padding: 3px 7px;

  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  border: 3px solid white;
  border-radius: 5px;
}
